.nav-sidebar { 
   width: 100%;
   padding: 30px 0; 
   border-right: 1px solid #ddd;
}
.nav-sidebar a {
   -webkit-transition: all 0.08s linear;
   -moz-transition: all 0.08s linear;
   -o-transition: all 0.08s linear;
   transition: all 0.08s linear;
}
.nav-sidebar .active a { 
   cursor: default;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
   white-space: nowrap;
   overflow: hidden;
   -o-text-overflow: ellipsis;
   text-overflow: ellipsis; 
}
.container-fluid .text-style {
   text-align: justify;
   line-height: 23px;
   margin: 0 13px 0 0;
   font-size: 19px;
}
.badge {
   line-height: 23px;
   font-size: 19px;
}
label {
   cursor:pointer;
}
