<div class="container-fluid">
   <div class="col-sm-2">
      <nav class="nav-sidebar">
         <ul class="nav tabs">
            <li class="active"><a href="#tab0" data-toggle="tab">Wstęp</a></li>
            [[#sections]]
            <li class=""><a href="#tab[[id]]" data-toggle="tab">[[id]]. [[title]]</a></li>
            [[/sections]]
         </ul>
      </nav>
      <div class="alert alert-success" role="alert">
         <form action="" id="sheet0" class="form-horizontal">
            <fieldset>
               <legend>
               Liczba zdobytych przez Ciebie punktów to <span class="badge" data-formula="0+[[#sections]]+SUM(#sheet[[id]]!A1:A200)[[/sections]]"></span>, spośród <span class="badge" id="r_punkty"></span> możliwych do zdobycia w <span class="badge" id="r_pytania"></span> pytaniach.
               </legend>
            </fieldset>
         </form>
      </div>
   </div>
   <!-- tab content -->
   <div class="tab-content col-sm-10">
      <div class="tab-pane active text-style" id="tab0">
         <h2>Sprawdź co naprawdę wiesz o szczepieniach</h2>
         <p>
            Sprawdź co wydawało Ci się, że wiesz o chorobach, szczepieniach ale też o praktyce prowadzenia szczepień w Polsce.
            Od dzisiaj możesz mierzyć poziom swojej wiedzy o szczepieniach,  bo każda poprawna odpowiedź zwiększa liczbę punktów. Te punkty nie są nigdzie
            zbierane, analizowane, czy logowane - ot, możesz sprawdzić siebie lub wysłać link do ankiety rodzinie czy znajomym. To tylko zabawa, ale
            jeśli uznasz, że Twoja świadomość w zakresie szczepień powiększyła się lub jeśli będziesz miał dzięki tej stronie  materiał do ciekawej dyskusji 
            z innymi ludźmi - to nasz cel został osiągnięty.
         </p>
         <h2>Jak jest mierzony mój poziom wiedzy?</h2>
         <p>
            Po lewej stronie znajdują się zakładki z działami. W każdym dziale są formularze z listą pytań. Prawidłowe odpowiedzi na pytania powodują zwiększenie liczby punktów.
            Punkty naliczane są bardzo prosto - to w końcu zabawa - za każde pytanie można otrzymać łącznie 100 punktów. Jeśli pytanie dopuszcza wiele odpowiedzi, wtedy wszystkie poprawne odpowiedzi
            cząstkowe również sumują się do 100 punktów. <strong>Kliknięcie w pytanie zwykle wyświetli podpowiedzi, informacje lub dane źródłowe do tego pytania</strong>.
         </p>
         <h2>Coś tu trzeba zmienić lub dodać - co wtedy?</h2>
         <p>
            Kod źródłowy tego kalkulatora jest otwarty i dostępny dla wszystkich na platformie github w <a href="https://github.com/szanitani/szczepienia">Repozytorium Pism i Argumentów - o szczepieniach i dla rodziców</a>.
            Wszelkie poprawki, materiały źródłowe, propozycje nowych pytań do kalkulatora, są mile widziane. Zgłaszanie swoich uwag jest dostępne albo poprzez
            <a href="https://github.com/szanitani/szczepienia/issues">platformę github</a> albo też przez <a href="http://szczepienia.org.pl/viewtopic.php?p=172725">Forum Stowarzyszenia Stop NOP</a>. Kalkulator zmienia się, zatem warto odwiedzać tą
            stronę co jakiś czas lub zasubskrybować się do powiadamiania o zmianach przez platformę github. Na github można też przeglądać <a href="https://github.com/szanitani/szczepienia/commits/gh-pages">rejestr zmian</a>.
         </p>
      </div>
      [[#sections]]
         <div class="tab-pane text-style" id="tab[[id]]">
            <h2>[[title]]</h2>
            [[#each description]][[[.]]][[/each]]
            <form action="" class="form-horizontal" id="sheet[[id]]">
               <fieldset>
                  <legend>Pytania: [[firstCell(id)]]</legend>
                  [[#questions:i]]
                  <div class="form-group">
                     <label class="col-md-6 control-label" for="p[[id]]-[[i+1]]" data-toggle="modal" data-target="#m[[id]]-[[i+1]]">[[i+1]]. [[[title]]]</label>
                     <div class="col-md-6">
                        [[#if (type==='radio')]]
                           [[#answers:j]]
                              <div class="radio"><label for="p[[id]]-[[i+1]]-[[j+1]]"><input name="p[[id]]-[[i+1]]" id="p[[id]]-[[i+1]]-[[j+1]]" value="[[value]]" type="radio" data-cell="A[[nextCell(id,i,j)]]">[[[title]]]</label></div>
                           [[/answers]]
                        [[elseif (type==='check')]]
                           [[#answers:j]]
                              <div class="checkbox"><label for="p[[id]]-[[i+1]]-[[j+1]]"><input name="p[[id]]-[[i+1]]" id="p[[id]]-[[i+1]]-[[j+1]]" value="[[value]]" type="checkbox" data-cell="A[[nextCell(id,i,j)]]">[[[title]]]</label></div>
                           [[/answers]]
                        [[/if]]
                     </div>
                  </div>
                  <hr>
                  [[/questions]]
               </fieldset>
            </form>
         </div>
      [[/sections]]
   </div>
</div>

<!-- ****************************** -->
<!-- ****   OPISY DO PYTAŃ   ****** -->
<!-- ****************************** -->
[[#sections]]
   [[#questions:i]]
      <div class="modal fade" id="m[[id]]-[[i+1]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Uwaga - podpowiedzi..</h4>
            </div>
            <div class="modal-body">
               [[#each description]][[[.]]][[/each]]
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button></div>
          </div>
        </div>
      </div>
   [[/questions]]
[[/sections]]
